{% extends 'base.html' %}

{% load i18n %}

{% block title %}
Błąd Pobierania
{% endblock %}

{% block content %}
</br>
<h4>Poniższa skrzynka odmówiła nam dostępu:</h4>
</br>
<h5>{{ user }}</h5>
</br>
Jeśli jest to skrzynka Gmail, zaloguj się i w 
</br>
ustawieniach konta zaznacz: <h6 style="color:blue">"Włącz dostęp"</h6>
W pozycji: 
<h6 style="color:blue">"Dostęp mniej bezpiecznych aplikacji"</h6>

Jeżeli problem wystepuje nadal, 
</br>sprawdź adres email i pozostałe dane

<section>
    <button class="btn btn-primary" style="background-color: #e99245;" onclick="location.href='https://myaccount.google.com/intro/security'">
        Ustawienia bezpieczeństwa Konta Google
    </button>
</section>

{% endblock %}