{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Usuń dane poczty email
{% endblock %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}


<section>
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-3 mb-md-0"><i class="link-icon" data-feather="users"></i> Usunięcie skrzynki</h4> 
            </br>
            <h5 class="mb-3 mb-md-0">
                UWAGA Jeśli nie masz zapisanych danych 
                </br>
                do konfiguracji skrzynki, stracisz je.
            </br>
            </br>CZY CHCESZ KONTYNUOWAĆ?</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <button class="btn btn-primary" style="background-color: #e99245;width: 40%" type="submit">Usuń skrzynkę</button>
                        </form> 
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}