{% extends 'base.html' %}

{% load i18n %}

{% block title %}
Błąd Pobierania
{% endblock %}

{% block content %}
</br>
<h4>Nie udało nam się połączyć z twoją skrzynką pocztową.</h4>
</br>
<h5>{{ user }}</h5>
{% comment %} <h5>{{ id }}</h5> {% endcomment %}
</br>
Może to być spowodowane błędnie podanymi danymi logowania. 
</br>
Spróbuj poporawić dane lub usuń te skrzynkę:
<p>

<section>
    <form action="/manymailbox/add-mailbox/{{ id }}/">
        <input class="btn btn-primary" style="background-color: #e99245;width: 25%" type="submit" value="Popraw dane">
    </form>
    </br>
    <form action="/manymailbox/delete-mailbox/{{ id }}/">
        <input class="btn btn-primary" style="background-color: #e99245;width: 25%" type="submit" value="Usuń skrzynkę">
    </form>
</section>

{% endblock %}