{% extends 'base.html' %}

{% load i18n %}

{% block title %}
Błąd Pobierania
{% endblock %}

{% block content %}
</br>
<h4>Nie udało nam się połączyć z 
</br>
nastepującą skrzynką pocztową.</h4>
</br>
<h5>{{ user }}</h5>
</br>
Jeśli jest to skrzynka Gmail, zaloguj się  
</br>
i w ustawieniach konta zaznacz: <h6 style="color:blue">"Włącz dostęp"</h6>
W pozycji: 
<h6 style="color:blue">"Dostęp mniej bezpiecznych aplikacji"</h6>



<section>
    <button class="btn btn-primary" style="background-color: #e99245;" onclick="location.href='https://myaccount.google.com/intro/security'">
        Ustawienia bezpieczeństwa Konta Google
    </button>
</section>
</br>
Jeżeli problem wystepuje nadal, spróbuj poprawić 
</br>
wprowadzone dane lub usuń te skrzynkę:
<p>

<section>
    <form action="/manymailbox/add-mailbox/{{ id }}/">
        <input class="btn btn-primary" style="background-color: #e99245;width: 25%" type="submit" value="Popraw dane">
    </form>
    </br>
    <form action="/manymailbox/delete-mailbox/{{ id }}/">
        <input class="btn btn-primary" style="background-color: #e99245;width: 25%" type="submit" value="Usuń skrzynkę">
    </form>
</section>

{% endblock %}